<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>


<body class="w-full h-full bg-zinc-900">
    <div class="p-10">
        <div>
            <a href="/read" class="text-blue-500">Read users</a>
        </div>
        <h1 class="text-white font-bold text-2xl">Edit User</h1>
        <form action="/update/<%= users._id %>" method="post">
            <input type="text" class="outline-none border-2 border-zinc-500 rounded-md pl-2" placeholder="Name" name="name" value="<%= users.name %>">
            <input type="text" class="outline-none border-2 border-zinc-500 rounded-md pl-2" placeholder="Email" name="email" value="<%= users.email %>">
            <input type="text" class="outline-none border-2 border-zinc-500 rounded-md pl-2" placeholder="Image URL" name="image" value="<%= users.image%>">
            <input type="submit" value="Edit user" class="bg-yellow-500 text-black rounded-md px-3 py-1">
        </form>
    </div>
</body>

</html>